#login-page {
  width: 100%;
  height: 100vh;
  color: rgb(255, 255, 255);
  background: linear-gradient(45deg, rgb(96, 170, 255), rgb(0, 67, 211));
}

#login-heading {
  text-align: center;
  font-family: 'Berkshire Swash';
  font-weight: 700;
  font-size: 10rem;
  border: red 1px solid;
  margin-top: 0;
  margin-bottom: 1rem;
}

#login-page h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .35rem;
  font-family: 'Quicksand';
  font-size: 1.5rem;
  border: red 1px solid;
  margin-top: 0;
  margin-bottom: 0;
}

.login-field {
  font-family: 'Quicksand';
  font-size: 1rem;
  display: block;
  width: 65%;
  margin: 1rem auto;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  border: red 1px solid;
}